name: ESLint

on:
  pull_request:
    types: [opened, synchronize, reopened, edited, ready_for_review]
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: '0 2 * * *'

permissions:
  contents: write
  checks: write
  statuses: write
  pull-requests: write
  actions: read

jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: reviewdog/action-eslint@v1.34.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          eslint_flags: "src/"

    
